.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
  min-height: 300px;
}

.link {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.container-carrousel {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  margin-top: 10px;
  text-decoration: none;
  font-size: 2em;
}

h1 > span {
  color: red;
}

.carrousel {
  display: flex;
  overflow: scroll;
  margin-top: 10px;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.carrousel > img {
  margin: 5px;
}
