.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 25vw;
  max-height: auto;
  max-width: 300px;
  margin: 25px;
  overflow: auto;
}

.fav-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  width: 20vw;
  max-height: 200px;
  max-width: 250px;
}

.fav-card > div > img {
  object-fit: contain;
  max-height: 120px;
  max-width: auto;
}

.card-images {
  display: inline;
  flex-wrap: nowrap;
}
.comic-image {
  object-fit: contain;
  max-height: 200px;
  max-width: auto;
}

.empty-heart {
  filter: invert(1);
  height: 25px;
  width: 25px;
}

.empty-heart:hover {
  cursor: pointer;
}

.full-heart {
  filter: invert(1);
  height: 25px;
  width: 25px;
}

.full-heart:hover {
  cursor: pointer;
}

.name {
  text-align: center;
}

.description {
  margin-top: 5px;
  line-height: 1.1em;
  text-align: justify;
  font-family: "Balthazar", serif;
}
